header{
  width: 940px;
  height:103px;
  display: inline-block;
  box-sizing: border-box;
}
body {
  background-color: #EDF2C5;
}
header::after{
  clear: both;
}
footer {
	font-family: ArialMT Regular, sans-serif;
	font-size: 12px;
	text-align: center;
	width: auto;
	height: 32px;
	padding: 15px;
	background-color: #778A50;
}

footer p{
	color: #EDF2C5;
}
h1{
  margin-top: 53px;
	font-family: Arial Black;
	font-size: 44px;
	color: #778A50;
	float: left;
}
h2{
	margin-top: 20px;
	font-family: Arial Black;
	font-size: 16px;
	color: #EDF2C5;
	padding: 15px 30px;
	border-radius: 3px;
	background-color: #778A50;
}
.set_size{
	width: 1260px;
	margin: 0 auto;
	padding-top: 0px;
  padding-left: 160px;
	box-sizing: border-box;
}
.botton_box{
  float: right;
  margin-top: 61px;
}
.community{
  display: inline-block;
  padding-right: 10px;
  padding-top: 5px;
}
.btn_facebook img{
  vertical-align: bottom;
  padding-left: 0px;
}
.btn_instagram img{
  vertical-align: bottom;
}
.member{
  display: flex;
  display: inline-block;
  float: right;
	font-weight: bold;
	padding-left: 5px;
	color: #778A50;
	border-left: 1px solid #778A50;
	line-height: 25px;
}
.login{
	border-radius: 3px;
	border: 1px solid;
  width: 60px;
  height: 25px;
  background-color: #EDF2C5;
  color: #778A50;
  font-family: "Arial Black";
  font-size: 12pt;
  margin: 5px 0px 5px 5px;
}
.join{
	border-radius: 3px;
	border: 1px solid;
	width: 60px;
  height: 25px;
  background-color: #EDF2C5;
  color: #778A50;
  font-family: "Arial Black";
  font-size: 12pt;
  margin: 5px 0px 5px 5px;
}
.box ul{
  margin-top: 8px;
  height: 60px;
  width:900px;
  background: #778A50;
  float: left;
  border-radius: 3px;
}

.box li{
  float: left;
  margin-left: 0px;
  margin: 16px 30px 16px 30px;
  background-color: #778A50;
  color: #EDF2C5;
  display: inline-block;
  list-style: none;
}

.box a{
  font-family: "Arial Black";
  font-size: 16px;
  color:#EDF2C5;
  text-decoration: none;
}
.box::after{
  clear: both;
}
.main{
  margin-top: 20px;
}
.content_left{
	float: left;
}

.img_vegetables_carrot{
	margin-top: 20px;
}

.img_vegetables_corn{
	margin-right: 12px;
}

.img_Vegetables_pepper{
	margin-right: 0px;
}

.content_right{
	float: right;
  padding-right: 160px;
}
.context{
	width: 450px;
	height: 130px;
	background-color: #F7FBDA;
	margin-bottom: 35px;
	padding: 5px;
}

.context p{
	font-family: ArialMT Regular, sans-serif;
	font-size: 12px;
	background-color: #F7FBDA;
	color: #7D7D7D;
	margin: 5px 0 5px 15px;
}
.content:after {
	content: "";
	display: block;
	clear: both;
}
